{% extends "geral/index.html" %}

{% block nav-global %}
{% endblock %}

{% block content %}
  <h3>Confirme o reset de senha.</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>

  <p>O sistema irá te enviar um email com um link para cadastrar num nova senha. Você deverá receber o email dentro de alguns minutos. Se você não receber o email, verifique se o endereço fornecido é o mesmo do seu cadastro no sistema. (... ou talvez ele caiu direto no spam.)</p>
{% endblock %}
