{% extends "geral/base.html" %}
{% load i18n static %}
    {% block nav-global %}
    <h2>Acesso</h2>
    <ul>
        <li><a href="{% url 'logout' %}">Logout</a>: {{ request.user }}</li>
        <li>Minha Conta</li>
        <li><a href="{% url 'plano-list' %}">Meus Planos</a></li>
        <li><a href="{% url 'lancamento-create'%}">Submeter Comprovante</a></li>
    </ul>
    {% endblock%}

    {% block content %}

    <h2>Pagamento pelo Paypal: <h2>
    <div>
        <div>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="SFWHVQ9KY2KJL">
<table>
<tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0">
    <option value="associado do Garoa">associado do Garoa : R$95,00 BRL - mensalmente</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="BRL">
<input type="image" src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
</form>

        </div>
        <div style="clear: both;"></div>
    </div>


    <h2>Saldo:</h2>
    <table border=1>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Fonte</th>
            <th>Status</th>
            <th>Valor</th>
            <th>C/D</th>
            <th>Descrição</th>
            <th>Saldo</th>
        </tr>
        {% for reg in object_list %}
            <tr>
                <td>{{ reg.id }}</td>
                <td>{{ reg.approved_timestamp|default:"_ *¹" }}</td>
                <td>{{ reg.get_autor_display }}</td>
                <td>{{ reg.get_moderation_status_display }}</td>
                <td>{{ reg.valor }}</td>
                <td>{{ reg.credito_debito }}</td>
                <td>{{ reg.descricao }}</td>
                <td>R$ {{ reg.saldo }}</td>
            </tr>
        {% endfor %}
    </table>

    <p>Em caso de dúvidas, entre em contato: tesoureiro@garoa.net.br <br> *¹ - Transções sujeitas a aprovação
    </p>


    {% endblock %}
